RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-s
RewriteCond %{REQUEST_FILENAME} !-l
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^/]+)/?$ main.php?action=$1
RewriteRule ^([^/]+)/([^/]+)/?$ main.php?action=$1&param1=$2
RewriteRule ^([^/]+)/([^/]+)/([^/]+)/?$ main.php?action=$1&param1=$2&param2=$3
